<%-include('../partials/header',{title: "Verification" })%>
    <div class="container d-flex flex-column justify-content-center align-items-center mt-5">
        <h10 class="card-title">Verification Link has been sent to your email. Please verify email before proceeding.
        </h10>
        <form action="/verification" method="POST">
            <div class="mb-3 text-center">
                <button class="btn btn-success btn-block">Resend Verification Link</button>
            </div>
        </form>
        <p>Already verified? <a href="/login">Login</a></p>
    </div>
    <%-include('../partials/footer')%>