<%-include('../partials/header',{title: "Main" })%>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <div class="jumbotron">
        <h1>What would you like to do?</h1>
        <p>You can be both a Referee and a Referrer. Which one would you like to be now?</p>
    </div>
    <div class="float-container">
        <div class="float-child">
            <a href="/profile/<%= currentUser.uid%> " class="tn btn-primary btn-lg" role="button">I want
                Referrals for me!</a>
        </div>
        <div class="float-child">
            <a href="/all" class="tn btn-primary btn-lg" role="button">I want to Refer others!</a>
        </div>
    </div>
    <%-include('../partials/footer')%>