<%-include('../partials/header',{title: "Main"})%>
    <a href="/profile/<%= currentUser.username%> ">Looking for Referrals</a>
    <a href="/all">Looking to provide Referrals</a>
<%-include('../partials/footer')%>