<%-include('../partials/header',{title: "Main" })%>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-3 p-3 text-center mb-3" href="/profile/<%= currentUser.uid%> "
            style="background-color: chartreuse; height: 100px;">
            <a class="nav-link" href="/profile/<%= currentUser.uid%> ">I want Referrals!</a>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3 p-3 text-center mb-3" href="/all" style="background-color: chartreuse; height: 100px;">
            <a class="nav-link" href="/all">I want to Refer others!</a>
        </div>
    </div>
    <%-include('../partials/footer')%>