<%-include('../partials/header',{title: "Verification"})%>

<h1>Waiting for verification.....</h1>

<a href="/main">I am verified.</a>

<form action="/verification" method="POST">
    <button>Send Verification Mail</button>
</form>
<%- include('../partials/footer') %> 