<%-include("./partials/header",{title: "HireUp" }) %>

    <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
    <p class="text-center mb-5">
        Find the answers for the most frequently asked questions below
    </p>

    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-money-check-alt text-primary pe-2"></i> Does HireUp charge for referrals?
            </h6>
            <p>
                <strong><u>No, Absolutely not!</u></strong> Any services provided on this platform are free of cost. Our aim is to increase tech conversions and optimize your job search.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-user-secret"></i> Who all can see my profile?</h6>
            <p>
                Only users who refer you and user whom your refer will be able to see your full profile.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fal fa-people-arrows"></i> How do I refer candidate from here?</h6>
            <p>
                We do not have any tie ups with the companies. We recommend you unlock the candidate's details and refer the candidate on the platform used by your company. You can also contact the candidate on LinkedIn or email for additional details required.
            </p>
        </div>

    </div>
    <center>
        <p>Can't find your answers? Mail us at <u>hireupworks@gmail.com</u></p>
    </center>

    <%-include("./partials/footer")%>