<%-include("./partials/header",{title: "HireUp" }) %>
    <link rel="stylesheet" href="/stylesheets/home.css">

    <div class="mb-3 ">
        <div id="intro" class="view">
            <div class="mask rgba-black-strong">
                <div class="container-fluid d-flex align-items-center justify-content-center h-100">
                    <div class="row d-flex justify-content-center text-center">
                        <div class="col-md-20">
                            <h1 class="display-4 font-weight-bold white-text pt-5 mb-2">HireUp</h1>
                            <hr class="hr-light">
                            <p class="grey-text">Backed by professionals at</p>
                            <div>
                                <img class="img-fluid img-thumbnail" src="/images/google.jpg">
                                <img class="img-fluid img-thumbnail" src="/images/microsoft.jpg">
                                <img class="img-fluid img-thumbnail" src="/images/meta.jpg">
                                <img class="img-fluid img-thumbnail" src="/images/amazon.jpg">
                                <img class="img-fluid img-thumbnail" src="/images/twitter.jpg">
                                <img class="img-fluid img-thumbnail" src="/images/uber.jpg">
                                <img class="img-fluid img-thumbnail" src="/images/apple.jpg">
                                <img class="img-fluid img-thumbnail" src="/images/netflix.jpg">
                                <img class="img-fluid img-thumbnail" src="/images/linkedin.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-md-3 mb-1">
            <i class="fas fa-key fa-3x"></i>
            <h4 class="my-4 font-weight-bold">Unlock Referrals</h4>
            <p class="grey-text">Get referrals to your next company.</p>
        </div>
        <div class="col-md-3 mb-1">
            <i class="fas fa-search fa-3x"></i>
            <h4 class="my-4 font-weight-bold">Discover Candidates</h4>
            <p class="grey-text">Discover & refer top talent to your company.</p>
        </div>
        <div class="col-md-3 mb-1">
            <i class="fas fa-thumbs-up fa-3x"></i>
            <h4 class="my-4 font-weight-bold">Boost Profile</h4>
            <p class="grey-text">Get upvotes on your skills and stand out.</p>
        </div>
        <div class="col-md-3 mb-1">
            <i class="fas fa-check fa-3x"></i>
            <h4 class="my-4 font-weight-bold">Professional Feedback</h4>
            <p class="grey-text">Get feedback from industry experts.</p>
        </div>
    </div>

    <hr class="hr-dark">

    <div class="mb-3">
        <h2>How it works?</h2>
    </div>

    <div class="row">
        <div class=" col-md-6">
            <div class="mb-3">
                <h4>For Referees</h4>
            </div>
            <ul class="description">
                <li class="current">Create and complete your HireUp profile.</li>
                <li class="current">Enter companies you want referrals for.</li>
                <li class="current">Professionals discover your profile & refer you.</li>
                <li class="current">Increase upvotes on your skills to stand out.</li>
            </ul>
        </div>
        <div class=" col-md-6">
            <div class="mb-3">
                <h4>For Referrers</h4>
            </div>
            <ul class="description">
                <li class="current">Discover candidates looking to join your company.</li>
                <li class="current">Unlock their details & Refer them to your company.</li>
                <li class="current">Your company gets top talent & you get referral bonus.</li>
                <li class="current">Boost candidate's profile by upvoting their skills.</li>
            </ul>
        </div>
    </div>

    <script>
        document.querySelector("body").setAttribute("class", "d-flex flex-column vh-100 text-center");
    </script>
    <%-include("./partials/footer")%>