<%-include('../partials/header',{title: "Register"})%>
<div class="container">
    <h1>Register</h1>
    <!-- action="/register" method="POST" -->
    <form id="userForm"  class="row needs-validation" novalidate>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="username">Username</label><input
                class="form-control" type="text" id="username" name="username" required autofocus>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="email">Email</label><input
                class="form-control" type="email" id="email" name="email" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please choose an email.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="password">Password</label><input
                class="form-control" type="password" id="password" name="password" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please choose a password.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="company">School/Company</label><input
                class="form-control" type="text" id="company" name="company" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please choose a School/Company.
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3" >
                <label class="form-label" for="skills">Skills</label><input
                    class="form-control" type="text" id="skills">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a Skill.
                </div>
            </div>
            <div class="col-md-6 mt-auto mb-3">
                <button class="btn btn-primary" type="button" onclick="addItem()">Add</button>
            </div>
            <div class="row" id="skillsDiv">
                <!-- <input type="hidden" data-validate="true" required> -->
            </div>
        </div>
<!-- 
        <div class="col-md-6 mb-3">
            <label class="form-label" for="degree">Degree/Title</label><input
                class="form-control" type="text" id="degree" name="degree" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please choose a Degree/Title.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="linkedinURL">LinkedIn URL</label><input
                class="form-control" type="text" id="linkedinURL" name="linkedinURL" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please give your LinkedIn URL.
            </div>
        </div>         -->
        <div class="col-12">
            <button type="submit" class="btn btn-success" >Register</button>
            <!-- onclick="register()" -->
        </div>
    </form>
</div>

<script>
    const skillsDiv = document.getElementById("skillsDiv");
    const skillsInput = document.getElementById("skills");
    var skills = [];

    function addItem(){
        var skill = skillsInput.value;
        if(skill && skill.trim()){

            if(skills.length===0){
                skillsDiv.innerHTML="";
            }
            skill = skill.trim();

            var isExisting = false;
            for(var x = 0;x<skills.length;x++){
                if(skills[x].toLowerCase()===skill.toLowerCase()){
                    isExisting = true;
                    break;
                }
            }
            if(!isExisting){
                skills.push(skill);

                const skillDiv = document.createElement('div');
                skillDiv.setAttribute("class","col-2 mb-3 btn btn-info px-3 mx-3");
                skillDiv.innerHTML = `
                    <span>${skill}</span><span id="skill${skills.length-1}" onclick="removeItem(this)">X</span>
                    <input type="hidden" value="${skill}" name="skills[${skills.length-1}]" required>
                `;
                skillsDiv.appendChild(skillDiv);
            }
        }
        skillsInput.value = "";
        console.log(skills);
    }

    function removeItem(element){
        var parent = element.parentNode;
        var grandParent = parent.parentNode;
        grandParent.innerHTML = "";

        var id = element.id;
        skills.splice(id.charAt(id.length-1),1);

        if(skills.length){
            for(var x = 0;x<skills.length;x++){
                const skillDiv = document.createElement('div');
                skillDiv.setAttribute("class","col-2 mb-3 btn btn-info px-3 mx-3");
                skillDiv.innerHTML = `
                    <span>${skills[x]}</span><span id="skill${x}" onclick="removeItem(this)">X</span>
                    <input type="hidden" value="${skills[x]}" data-validate="true" name="skills[${x}]" required>
                `;
                skillsDiv.appendChild(skillDiv);
            }
        }else{
            // skillsDiv.innerHTML=`<input type="hidden" data-validate="true" required>`;
        }
        console.log(skills);
    }

    // function register(){
    //     document.getElementById("userForm").innerHTML+=`<button id="sub" type="submit"></button>`
    //     if(skills.length>0){
    //         console.log("Inside if")
    //     }else{
    //         console.log("Inside else")
    //         document.getElementById("skills").setAttribute("required","true");
    //     }
    //     document.getElementById("sub").click();
    //     document.getElementById("userForm").removeChild(document.getElementById("sub"));
    // }
    const form = document.getElementById("userForm");
    form.addEventListener('submit', register);
    function register(e) {
        
        document.getElementById("skills").setAttribute("required","false"); 
        const username  = document.getElementById("username");
        const email = document.getElementById("email");
        const password = document.getElementById("password");
        // handle hobbies - I just didn't include in this example
        
        const data = {
            username: username.value,
            email: email.value,
            password: password.value,
            skills: skills
        }
        console.log(data)
        console.log(skills.length)
        if(skills.length>0){
            console.log("Inside if")
            //clear the input values
            // username.value = '';
            // email.value = '';
            // password.value = '';
        }else{
            console.log("Inside else")
            document.getElementById("skills").setAttribute("required","true");
        }

        fetch('/register', {
            method: "POST",
            body: JSON.stringify(data),
            headers: { 'Content-Type': 'application/json' }
        }) 
        console.log("after fetch")
        // document.getElementById("skills").setAttribute("required","false"); 
        console.log("removed required")      
    }
</script>
<%-include('../partials/footer')%>